.notification_bar {
    color: white;
    margin: 15px;
  }

.ntf_text_contents {
  margin: 15px;
}

.ntf_text_contents .h4{
  margin-top: 10px;
}

.ntf_main_image{
  margin: 15px;
  margin-top: 10px;
}

.ntf_top_bar {
  padding: 10px;
}

.ntf_topbar_text image {
  margin-right: 10px;
}

.ntf_main_div {
  background: radial-gradient(circle, #4E122F, #5e2c44);
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  
}